
/* no need to write anything about bootstrap.darkly. it was directly included in the file*/

body {
  padding: 60px;
}
.thumbnail{
		height:400px;
		border: gray 5px;
}
.js-image{
		height:200px;
		max-width: 100%;
}
.single-img{
	
	max-width:100%;
}
/*  
meteor search twbs
twbs stands for twitter bootstrap packages which is most popular one.
meteor add twbs:bootstrap
This is to add the bootstrap package. meteor search and meteor add ae used to add new packages

If some problem occurs then
 (popper.js is dependency which has to be installed as well) meteor npm install --save popper.js and
meteor npm install --save bootstrap

and add this file to main.css @import '{}/node_modules/bootstrap/scss/bootstrap';
and main.js  import 'bootstrap/dist/js/bootstrap.bundle';



above all were not working so i tried below which seems to work:

(popper.js is dependency which has to be installed as well) meteor npm install --save popper.js and
meteor npm install --save bootstrap
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap/dist/js/bootstrap.js';
import 'bootstrap/dist/js/bootstrap.bundle';

import 'bootstrap/dist/css/bootstrap-theme.css';

*/